

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

p{
    font-family: 'Helvetica', sans-serif;
}

span{
    word-wrap: break-word;
}

body {
    background: lightgray;
    
    color: #ffffff;
      z-index: -2;
  }

/* Nawigacja */
.navbar{
    padding: 0;
    background: gray;
} 

.container-fluid{
    color: #ffffff;
}

.navbar .container-fluid .navbar-brand{
height: 150px;
}

.navbar-brand{
    padding: 20px;
}

.dropdown-item{
    font-size: 14px;
    line-height: 16px;
    color: #000003;
    font-weight: 500;
}

.nav-item::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-image: linear-gradient;
    height: .15em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.nav-item:hover::after{
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
}

.nav-item{
    margin-left: 100px;
    font-size: 20px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 700;
}

.logo-img{
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

.navbar-toggler{
    margin-right: 15px;
}

.navbar-collapse{
padding-left: 15px;
transition: .3s ease-in-out;
padding-right: 15px;
}



.dropdown-menu[data-bs-popper]{
left: -120px;

}


.navbar>.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width:597px){
    .navbar>.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    }
}

/* środkowa sekcja */

.mid-section{
    display: flex;
width: 100%;
height: auto;
background: lightgray;
}

.bridge-img{
    height: 100%;
    width: 50%;
    /* padding: 20px; */
    filter: brightness(50%);
   // box-shadow: 0px 1px 43px 15px rgba(10, 17, 78, 1);
}

/* nasza misja */

.nasza-misja{
    background: lightgray;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 40px 0 40px 0;
    display: flex;
}

.description{
    display: flex;
    height: auto;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.graf{
    display: flex;
    flex-direction: column;
}

.des-img{
    position: relative;
    left: 90px;
   // box-shadow: 0px 1px 43px 15px rgb(14, 27, 143);
    filter: brightness(30%);
    /* filter: grayscale(30%); */
    z-index: 3;
    width: 80%;
    height: 30%;
}
.des1-img{
    position: relative;
    left: 80px;
    box-shadow: 0px 1px 43px 15px rgb(14, 27, 143);
    filter: brightness(30%);
    z-index: 1;
    width: 80%;
    height: 30%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    
}

.title-about-me{
    padding-left: 20px;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: .3px;
}

.about-me{
    position: relative;
    left: -10px;
    padding: 30px;
    border-radius: 40px;
    border-color: red;
    border-style: solid;
    font-size: 15px;
    font-weight: 600;
    overflow: auto;
}




/* .nasza-misja{
    background: linear-gradient(90deg, #000010 0%, #010146 100%);
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 40px 0 40px 0;
    display: flex;
}

.description{
    display: flex;

    height: auto;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    
}

.title-about-me{
    padding-left: 20px;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: .3px;
}

.des-img{
    width: 100%;
  max-width: 400px;
  max-height: 200px;
  height: auto;
    z-index: 3;
}

.about-me{
    z-index: 2;
    position: relative;
    left: -25px;

    padding: 30px;
    border-radius: 40px;
    border-color: red;
    border-style: solid;
    font-size: 15px;
    font-weight: 600;
} */


/* modal do oferty */

.modal{
    --bs-modal-width: 1000px;
}
.modal-dialog{
    /* width: 900px; */
    top:100px;
    color:black;
    margin-left: auto;
    margin-right: auto ;
}

.modal-content{ 
    height: 500px;
}

.ul-modal{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0;
}

.li-modal{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    list-style: none;
    font-size: 22px;
    font-weight: 500;
}

a:link {
    text-decoration: none;
  }

.content-adds{
    color: #ed004c;
    height: 200px;
    background-color: #010146;
}

#opis-content{
    max-height: 250px;
    overflow: auto;
}

.pobranie-content{
    overflow: auto;
    max-height: 100px;
}

/* oferta */

.portfolio{
    margin-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio-title{
width: 100%;
height: auto;
}

.offert-title{
    word-wrap: break-word;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: .3px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.card:hover {
    transform: scale(1.05);
    transition: .5s ease all;
}

.h-100{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

/* footer */

.about-footer li {
    padding-left: 40px;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.footer-title{
word-wrap: break-word;
}

.tel{
    display: flex;
    /* text-wrap: nowrap; */
    word-wrap: break-word;
}

.footer-container{
  
width: 100%;
height: auto;
margin-top: 80px;
}


span{
width: 100%;
}

/* hr */

hr{
    opacity: 1;
}

#hr-section{
    margin-top: 80px;
    margin-bottom: 80px;

    border: 1px solid red; 
    opacity:1;
}





