.hidden {
 display: none;
}

.tab-content{
    max-height: 400px;
}

#kolory-content{
    overflow: auto;
    max-height: 250px;
}

.tab{
max-height: 170px;
overflow:auto;
}

.button{
    border: 0px;
    background-color: white;
}

/* table{
    overflow: auto;
    height: 400px;
} */
